.container-tuyendung {
    width: 66.67%; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px; 
    background-color: rgb(255, 255, 255);
}
.tuyen-dung{
    border: 1px solid #606060;
}
